<% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
        <div class="alert alert-success">
            <%- flashMessages.success %>
        </div>
    <% } else if (flashMessages.error) { %>
        <% for( let i = 0; i < flashMessages.error.length; i++ ) { %>
            <div class="alert alert-danger">
                <%- flashMessages.error[i] %>
            </div>
        <% } %>
    <% } %>  
<% } %>