.container {
    height: 100vh;
    background-color: #222;
}

.content {
    background-color: #fff;
    padding: 24px;
    /* margin: 24px; */
    border: solid 4px bisque;
}

.headerMenu {
    background: none !important;
    border: none !important;
}

.menuItem {
    background: #cacaca;
}

hr {
    opacity: 0.4;
}

.title {
    text-align: center;
}

.desc {
    margin: 15px 0 -15px;
    padding: 15px;
}

.eventDate {
    padding: 15px;
}
